@import url(reset.css);

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--font-color);
    font-size: var(--font-size);
    line-height: 22px;
    transition: .3s;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--white);
}

.section {
    margin: var(--gutter-big) 0;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
}

button:hover {
    background: transparent;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 2px;
    background-color: var(--half-transparent);
    padding: 10px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

span {
    font-family: inherit;
}

.smaller-txt {
    font-size: 14px;
}
.blue {
    color: var(--blue);
}

@media only screen and (max-width: 1100px) {
    .section {
        min-height: 60vh;
    }
}

@media only screen and (max-width: 650px) {
    * {
        font-size: 14px;
        line-height: 19px;
    }
    
}