.main-container {
    width: 90vw;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--gutter) auto;
    width: 90vw;
    z-index: 3;
}

.main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sec-about {
    margin-top: 100px;
}


@media only screen and (max-width: 1100px) {
    .sec-about {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .sec-about {
        margin-top: 40px;
    }
}