/* blocking background */
.block {
    position: fixed;
}

/* unhiding text inside of grid elements */
.unhide {
    display: block;
    visibility: hidden;
    animation: showDesc 1s linear forwards;
}

@keyframes showDesc {
    0%, 60% {visibility: hidden; }
    100% { visibility: visible; }
}