/* blocking background */
.block {
    position: fixed;
}

/* unhiding text inside of grid elements */
.unhide {
    display: block;
    visibility: hidden;
    animation: showDesc 1s linear forwards;
}