/* blocking background */
.block {
    position: fixed;
}

/* unhiding text inside of grid elements */
.unhide {
    display: block;
    visibility: hidden;
    animation: showDesc 1s linear forwards;
}



/* team section - members images extending */
.extended {
    flex: 5;
}
.extended img {
    opacity: 1;
}

.team-member.open-active div:first-of-type,
.team-member.open-active div:last-of-type {
    transform: translateY(0);
}
.team-member.open-active div p {
    display: block;
}
.team-member.open-active h2 {
    color: var(--light-back);
    font-size: 26px;
    text-shadow: 3px 3px 3px var(--font-color),
                -3px -3px 3px var(--font-color);
}


@keyframes showDesc {
    0%, 60% {visibility: hidden; }
    100% { visibility: visible; }
}

@keyframes words {
    0%, 60% {display: none;}
    100% {display: block;}
}