body {
    --gutter: 30px;
    --gutter-big: 70px;
    --font-size: 16px;
    --blue: rgb(155, 200, 160);
    --font-color: rgb(56, 56, 56);
    --light-back: rgb(219, 219, 219);
    --half-transparent: rgba(219, 219, 219, .5);
    --white: rgb(255, 255, 255);
}
.dark {
    --light-back: rgb(100, 100, 100);
    --font-color: rgb(219, 219, 219);
    --white: rgb(56, 56, 56);
    --half-transparent: rgba(100, 100, 100, .5);
}