.about-article {
    /* border: 1px dotted seagreen; */
    
}

.about-art-title {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    background-color: var(--half-transparent);
    padding: 10px;
    position: relative;
}
.about-art-title::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--light-back);
    top: -50px;
    right: 20px;

    
}

.about-art-paragraphs {
    width: 80%;
    margin: var(--gutter) auto;
    display: flex;
    flex: 1 0 auto;
}

.about-art-par {
    margin: var(--gutter) auto;
    padding: 5px 10px;
    width: 40%;
}


@media only screen and (max-width: 650px) {
    .about-art-title::after {
        display: none;
    }
    .about-art-paragraphs {
        flex-direction: column;
        /* margin: var() auto; */
    }
    .about-art-par {
        width: 80%;
        margin: 10px auto;
    }
}