
.contact-datas {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--gutter);
    position: relative;
}
.contact-datas::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--light-back);
    top: 2vh;
    right: 150px;
}
.contact-datas::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--blue);
    top: 7vh;
    right: 20px;
}
.contact-data {
    color: inherit;
    padding: 5px 0 0 10px;
}
.contact-data i {
    color: var(--white);
    padding-right: 10px;
}

@media only screen and (max-width: 650px) {
    .contact-datas::before,
    .contact-datas::after {
        display: none;
    }
    .contact-datas h2 {
        margin: var(--gutter) 0;
    }
    .contact-data:first-of-type {
        margin-top: 10px;
    }
    .contact-data {
        padding: 10px 0 0 10px;
    }
    .contact-data i {
        padding-right: 5px;
    }
}