.toggle-mode {
    position: absolute;
    width: 55px;
    right: 2vw;
    top: 2vh;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    cursor: pointer;
}

.clicked {
    box-shadow: 2px 2px 4px rgb(255, 255, 0), -2px -2px 5px rgb(255, 255, 0);
    border: 2px solid #ffffff;
}

@media only screen and (max-width: 650px) {
    .toggle-mode {
        width: 45px;
        font-size: 10px;
        line-height: 11px;
    }
}