.toggle-mode {
    position: absolute;
    right: 2vw;
    top: 2vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid var(--font-color);
    cursor: pointer;
}

.clicked {
    box-shadow: 2px 2px 4px rgb(255, 255, 0), -2px -2px 5px rgb(255, 255, 0);
}

@media only screen and (max-width: 650px) {
    .toggle-mode {
        font-size: 10px;
    }
}