.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github {
    display: flex;
}
.github p {
    padding-left: 10px;
}
.git-link {
    font-weight: bold;
    padding: 2px 4px;
    transition: .3s;
}
.git-link:hover {
    text-shadow: 1px 1px 2px var(--second-color),
                -1px -1px 2px var(--second-color);
                background-color: var(--half-transparent);
                /* 2px 2px 4px var(--warmer-back), */
                /* -2px -2px 4px var(--warmer-back); */
}