.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github {
    display: flex;
}
.github p {
    padding-left: 10px;
}
.git-link {
    font-weight: bold;
    padding: 2px 4px;
    transition: .3s;
}
.git-link:hover {
    text-shadow: 1px 1px 2px var(--second-color),
                -1px -1px 2px var(--second-color);
    background-color: var(--half-transparent);

}

@media only screen and (max-width: 650px) {
    .footer {
        font-size: 12px;
    }
    .git-link {
        padding: 2px 3x 2px 0;
    }
}