.main-title {
    z-index: 3;
}

.main-title::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    top: -30px;
    right: 20%;
    border-radius: 50%;
    background-color: var(--blue);
    z-index: -1;
}

h1 {
    position: relative;
}

h1 span{
    padding: 0 var(--gutter);
}
h1 span::before {
    content: "";
    width: 165px;
    height: 165px;
    top: -55px;
    position: absolute;
    background-color: var(--light-back);
    border-radius: 50%;
    z-index: -1;
    box-sizing: border-box;
}

/* slider */
.pictures {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    overflow: hidden;
}
.picture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: animal-slide 15s linear 0s infinite;
}

.pic1 { 
    background-image: url(https://picsum.photos/id/1024/1200/800) ;
    animation-delay: 0s;
}
.pic2 { 
    background-image: url(https://picsum.photos/id/1074/1200/800) ;
    animation-delay: 3s;
}
.pic3 { 
    background-image: url(https://picsum.photos/id/1084/1200/800) ;
    animation-delay: 6s;
}
.pic4 { 
    background-image: url(https://picsum.photos/id/1024/1200/800) ;
    animation-delay: 9s;
}
.pic5 { 
    background-image: url(https://picsum.photos/id/200/1200/800) ;
    animation-delay: 12s;
}

@keyframes animal-slide {
   0% { opacity: .7; }
   20% {
       opacity: .7;
       width: 105%;
       height: 105%;
   }
   23% {
       opacity: 0;
   }
}

@media only screen and (max-width: 1100px) {
    .main-title::before {
        right: 5%;
    }
}

@media only screen and (max-width: 650px) {
    .title {
        background-color: transparent;
    }
    h1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center; 
    }
    h1 span {
        padding: var(--gutter) 0;
    }
    h1 span::before {
        /* top: -55px; */
        top: 0px;
    }
    .picture {
        background-position: center;
    }
}