nav {
    display: grid;
    align-items: center;
    overflow: hidden;   
}

#menu {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#menu.hidden {
    transform: translateX(100%);
}
#menu.open {
    transform: translateX(0);
}
.menu-item {
    margin: 0 10px;
    line-height: var(--gutter);
}
.menu-item:last-child {
    margin-right: 45px;
}
.menu-item a{
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .4s;
}

.menu-item a:hover {
    border-bottom: 1px solid ;
    color: var(--second-color);
}

#hamburger {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    width: 40px;
    height: var(--gutter);
    background-color: var(--white);
    z-index: 8;
}

.line {
    display: block;
    width: 25px;
    height: 5px;
    background: var(--font-color);
    margin: 3.5px 0;
    border-radius: 8px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show-menu .line-1 {
    transform: rotate(-45deg);
    transform-origin: right top;
}

.show-menu .line-2 {
    opacity: 0;
}

.show-menu .line-3 {
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.to-the-top i {
    font-size: 20px;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (max-width: 650px) {
    #menu {
        transition: none;
    }
    #menu.hidden {
        display: none;
    }
    #menu.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: var(--gutter);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        z-index: 7;
    }
    .menu-item {
        margin: var(--gutter) auto 0;
        font-size: 20px;
        width: 50%;
    }
    .menu-item:last-child {
        margin: var(--gutter) auto 0;
    }

    #hamburger.show-menu {
        position: fixed;
        top: var(--gutter);
        right: var(--gutter);
    }

}